DB_URL=jdbc:postgresql://localhost:5432/prueba
DB_USERNAME=postgres
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CATALOGO_CACHE_TTL=24h
GESTOPAGO_CATALOG_SYNC_CRON="0 0 3 * * *"
GESTOPAGO_CATALOG_SYNC_ZONE=America/Mexico_City
GESTOPAGO_AUTH_ID_DISTRIBUIDOR=
GESTOPAGO_AUTH_CODIGO_DISPOSITIVO=
GESTOPAGO_AUTH_PASSWORD=
